/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        ClearBT {
            bindings = <&bt BT_CLR_ALL>;
            key-positions = <40 37 11>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB           &kp Q  &kp W  &kp E     &kp R  &kp T        &kp Z    &kp U  &kp I      &kp O      &kp P      &kp ESCAPE
&kp LEFT_SHIFT    &kp A  &kp S  &kp D     &kp F  &kp G        &kp H    &kp J  &kp K      &kp L      &kp RA(S)  &kp BACKSPACE
&kp LEFT_CONTROL  &kp Y  &kp X  &kp C     &kp V  &kp B        &kp N    &kp M  &kp RA(Y)  &kp RA(P)  &kp RA(Q)  &kp DELETE
                                &kp LGUI  &mo 1  &kp SPACE    &kp RET  &mo 2  &kp RALT
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp N1  &kp N2  &kp N3    &kp N4  &kp N5       &kp N6    &kp N7    &kp N8    &kp N9     &kp N0     &kp ESC
&kp LSHFT  &kp F1  &kp F2  &kp F3    &kp F4  &kp F5       &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT  &kp MINUS  &kp BSPC
&kp LCTRL  &kp F6  &kp F7  &kp F8    &kp F9  &kp F10      &kp F11   &kp F12   &kp FSLH  &kp STAR   &kp PLUS   &kp C_AC_PRINT
                           &kp LGUI  &trans  &kp SPACE    &kp RET   &trans    &kp RALT
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TAB    &kp PERCENT        &kp DOLLAR        &kp HASH       &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS    &kp LESS_THAN  &kp GREATER_THAN  &kp PIPE         &kp EQUAL     &kp UNDERSCORE  &kp ESC
&kp LSHFT  &kp DOUBLE_QUOTES  &kp SINGLE_QUOTE  &kp AMPERSAND  &kp LEFT_BRACKET      &kp RIGHT_BRACKET        &kp SEMICOLON  &kp COLON         &kp EXCLAMATION  &kp QUESTION  &kp MINUS       &kp BSPC
&kp LCTRL  &kp TILDE          &kp GRAVE         &kp CARET      &kp LEFT_BRACE        &kp RIGHT_BRACE          &kp COMMA      &kp DOT           &kp SLASH        &kp ASTERISK  &kp PLUS        &kp DEL
                                                &kp LGUI       &trans                &kp SPACE                &kp RET        &trans            &kp RALT
            >;
        };
    };
};
